.Fightfield{

    
    padding-top:10em;
    width:100em;
    height:30em;
    margin:auto;
    margin-left:2em;
    margin-top:10em;
    background-image:url("https://3images.cgames.de/images/gsgp/226/pok%C3%A9mon-basketbolz-baccer_6063212.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.inputs{
    margin-left:30em;
    
}

.VS{
    margin-left:3em;
}
.Firstpoke{
    display:flex;
    flex-direction:row;
    
    
    
}
