.App {
  
  background-image: url(https://images.wallpapersden.com/image/download/pokemon-pikachu-art_a25tbW6UmZqaraWkpJRmbmdlrWZlbWU.jpg);
  background-size:cover;
  height: 100vh;
  margin:0px;
  padding:0px;
  

}

.Dropdown{
  display:flex;
  justify-content:center;
  border-radius:20px;
  
}
.Input{
  margin-right:10px;
  border-radius:20px;
}

.Button{
  display:flex;
  justify-content: center;
  margin:10px;
  border-radius:20px;
}

.Items{
  border-radius:10px;
  box-shadow:2px 2px 2px 2px rgba(70, 68, 68, 0.562);
}